/*Código armado por La Foca Loca S.A. No modificar*/

body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.boton-estilo {
  font-family: 'Homer Simpson Revised', sans-serif;
  background-color: #e0e315; /* Color de fondo */
  border: none;
  border-radius: 25%;
  color:black; /* Color del texto */
  padding: 15px 32px;
  min-width: 13rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: inset  0px -8px #5e5e0a;
}

.boton-estilo:hover {
  background-color: rgb(210, 210, 39) /* Cambio de color en el hover */
}

.boton-estilo:active {
  background-color: #bd9e13; /* Cambio de color al hacer clic */
}



ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  width: 40%;
}

#objetivo img{
  width: 100%;
}
.col-60 {
  background: #E84A5F;
  width: 60%;
}
.ficha {
  width: 33.33%;
  height: 33.33%;
  float: left;

}
.ficha img {
  width: 100%;
}

#titulo{
  font-family: 'Homer Simpson Revised', sans-serif;
  font-size: 2rem;
  text-align: center;
}

#flecha{
  
  font-size: 20px;
}

.texto-centrado {
  text-align: center;
}

#juego {
  width: 650px;
  height: 485px;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

#footer {
  font-family: 'Homer Simpson Revised', sans-serif;
  font-size: 2rem;
  clear: both;
  padding: 20px;
  background-color: #cad10d;
  text-align: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
